Repository DiamondLightSource/daq-config-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, prettier, eslint, uv-sync

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
        exclude: ^uv.lock
      - id: check-yaml
        args: [--allow-multiple-documents]
        exclude: ^helm/
      - id: check-merge-conflict
      - id: end-of-file-fixer

  - repo: local
    hooks:
      - id: ruff
        name: lint with ruff
        language: system
        entry: ruff check --force-exclude --fix
        types: [python]
        exclude: ^.github/pages
        require_serial: true

      - id: ruff-format
        name: format with ruff
        language: system
        entry: ruff format --force-exclude
        exclude: ^.github/pages
        types: [python]
        require_serial: true

      - id: prettier
        name: format js/ts(x) with prettier
        language: system
        entry: npx prettier gui/config-server-gui/ --print-width 100 --write
        types: [javascript,jsx,ts,tsx]
        require_serial: true

      - id: eslint
        name: lint with eslint
        language: system
        entry: npx eslint gui/config-server-gui/src
        types: [javascript,jsx,ts,tsx]
        require_serial: true

      - id: uv-sync
        name: update uv.lock and venv
        pass_filenames: false
        language: system
        entry: uv sync
        files: ^(uv\.lock|pyproject\.toml)$

  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.28.0
    hooks:
      - id: gitleaks

Add position on table to standards puck (#208)
  src/daq_config_server/models/i15_1/standards_puck.py
  tests/test_data/i15_1/test_standards_puck.json
  tests/unit_tests/models/i15_1/test_standards_puck.py
Due: ruff, ruff-format

deploy: 0a59ef4fa23da2f8322cc4ca319103a06ab3a932
  main/.buildinfo
  main/_api.html
  main/_api/daq_config_server.html
  main/_static/documentation_options.js
  main/explanations.html
  main/explanations/decisions.html
  main/explanations/decisions/0001-record-architecture-decisions.html
  main/explanations/decisions/0002-switched-to-python-copier-template.html
  main/explanations/whitelist_info.html
  main/genindex.html
  main/how-to.html
  main/how-to/config-server-guide.html
  main/how-to/contribute.html
  main/how-to/release-and-deploy.html
  main/how-to/run-container.html
  main/index.html
  main/py-modindex.html
  main/reference.html
  main/reference/current_and_planned_features.html
  main/search.html
  main/tutorials.html
  main/tutorials/installation.html
Due: none

Add a temperature calibration config model
  pyproject.toml
  src/daq_config_server/models/i15_1/temperature_calibration.py
  tests/test_data/i15_1/test_temperature_calibration.txt
  tests/unit_tests/models/i15_1/conftest.py
  tests/unit_tests/models/i15_1/test_temperature_calibration.py
  uv.lock
Due: ruff, ruff-format, uv-sync

Add inverse polynomial
  src/daq_config_server/models/i15_1/temperature_calibration.py
  tests/unit_tests/models/i15_1/test_temperature_calibration.py
Due: ruff, ruff-format

Improve inverse
  src/daq_config_server/models/i15_1/temperature_calibration.py
  tests/unit_tests/models/i15_1/test_temperature_calibration.py
Due: ruff, ruff-format

Ensure polynomial fit is monotonic
  src/daq_config_server/models/i15_1/temperature_calibration.py
  tests/unit_tests/models/i15_1/test_temperature_calibration.py
Due: ruff, ruff-format

Fix floating point test failiures
  tests/unit_tests/models/i15_1/test_temperature_calibration.py
Due: ruff, ruff-format

Add to converter map
  helm/daq-config-server/converter_map.yaml
  src/daq_config_server/app/_file_converter_map.py
Due: ruff, ruff-format

Small fix
  src/daq_config_server/models/i15_1/temperature_calibration.py
Due: ruff, ruff-format

Remove comment
  tests/unit_tests/models/i15_1/test_temperature_calibration.py
Due: ruff, ruff-format

Make real_to_setpoint a computed field
  src/daq_config_server/models/i15_1/temperature_calibration.py
  tests/unit_tests/models/i15_1/test_temperature_calibration.py
Due: ruff, ruff-format

Add column names to serialised model
  src/daq_config_server/models/i15_1/temperature_calibration.py
  tests/unit_tests/models/i15_1/test_temperature_calibration.py
Due: ruff, ruff-format

Update to httpx2
  pyproject.toml
  tests/unit_tests/client/test_client.py
  uv.lock
Due: ruff, ruff-format, uv-sync

Add XML converter for aithre_oav.xml file
  helm/daq-config-server/converter_map.yaml
Due: none

Add XML converter for aithre_oav.xml file (#210)
  helm/daq-config-server/converter_map.yaml
Due: none

deploy: 6556061b67fcccfd0b2458bc4308ad8abf150466
  main/.buildinfo
  main/_api.html
  main/_api/daq_config_server.html
  main/_static/documentation_options.js
  main/explanations.html
  main/explanations/decisions.html
  main/explanations/decisions/0001-record-architecture-decisions.html
  main/explanations/decisions/0002-switched-to-python-copier-template.html
  main/explanations/whitelist_info.html
  main/genindex.html
  main/how-to.html
  main/how-to/config-server-guide.html
  main/how-to/contribute.html
  main/how-to/release-and-deploy.html
  main/how-to/run-container.html
  main/index.html
  main/py-modindex.html
  main/reference.html
  main/reference/current_and_planned_features.html
  main/search.html
  main/tutorials.html
  main/tutorials/installation.html
Due: none

Remove references to i03 paths from central configuration (#191)
  helm/daq-config-server/converter_map.yaml
  tests/unit_tests/app/test_whitelist.py
  whitelist.yaml
Due: ruff, ruff-format

deploy: 893c9a58614cd6a51130f306efe5d8d776f4e8ca
  main/.buildinfo
  main/_api.html
  main/_api/daq_config_server.html
  main/_static/documentation_options.js
  main/explanations.html
  main/explanations/decisions.html
  main/explanations/decisions/0001-record-architecture-decisions.html
  main/explanations/decisions/0002-switched-to-python-copier-template.html
  main/explanations/whitelist_info.html
  main/genindex.html
  main/how-to.html
  main/how-to/config-server-guide.html
  main/how-to/contribute.html
  main/how-to/release-and-deploy.html
  main/how-to/run-container.html
  main/index.html
  main/py-modindex.html
  main/reference.html
  main/reference/current_and_planned_features.html
  main/search.html
  main/tutorials.html
  main/tutorials/installation.html
Due: none

Remove references to i15-1
  helm/daq-config-server/converter_map.yaml
  helm/daq-config-server/whitelist.yaml
Due: none
