Repository DiamondLightSource/daq-config-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, prettier, eslint, uv-sync

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
        exclude: ^uv.lock
      - id: check-yaml
        args: [--allow-multiple-documents]
        exclude: ^helm/
      - id: check-merge-conflict
      - id: end-of-file-fixer

  - repo: local
    hooks:
      - id: ruff
        name: lint with ruff
        language: system
        entry: ruff check --force-exclude --fix
        types: [python]
        exclude: ^.github/pages
        require_serial: true

      - id: ruff-format
        name: format with ruff
        language: system
        entry: ruff format --force-exclude
        exclude: ^.github/pages
        types: [python]
        require_serial: true

      - id: prettier
        name: format js/ts(x) with prettier
        language: system
        entry: npx prettier gui/config-server-gui/ --print-width 100 --write
        types: [javascript,jsx,ts,tsx]
        require_serial: true

      - id: eslint
        name: lint with eslint
        language: system
        entry: npx eslint gui/config-server-gui/src
        types: [javascript,jsx,ts,tsx]
        require_serial: true

      - id: uv-sync
        name: update uv.lock and venv
        pass_filenames: false
        language: system
        entry: uv sync
        files: ^(uv\.lock|pyproject\.toml)$

  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.28.0
    hooks:
      - id: gitleaks

WIP
  src/daq_config_server/models/i15_1/xpdf_parameters.py
  tests/unit_tests/models/i15_1/test_xpdf_parameters.py
Due: ruff, ruff-format

PR comments
  src/daq_config_server/models/i15_1/xpdf_parameters.py
Due: ruff, ruff-format

Add model for i15-1 temp controller devices (#173)
  src/daq_config_server/app/_file_converter_map.py
  src/daq_config_server/models/i15_1/__init__.py
  src/daq_config_server/models/i15_1/xpdf_parameters.py
  tests/constants.py
  tests/test_data/test_xpdfLocalParameters.xml
  tests/unit_tests/models/i15_1/test_xpdf_parameters.py
Due: ruff, ruff-format

deploy: 1d8a6de676d063b55ebbc1089f78277522e8a151
  main/.buildinfo
  main/_api.html
  main/_api/daq_config_server.html
  main/_modules/daq_config_server/app/client.html
  main/_modules/index.html
  main/_static/documentation_options.js
  main/explanations.html
  main/explanations/decisions.html
  main/explanations/decisions/0001-record-architecture-decisions.html
  main/explanations/decisions/0002-switched-to-python-copier-template.html
  main/explanations/whitelist_info.html
  main/genindex.html
  main/how-to.html
  main/how-to/config-server-guide.html
  main/how-to/contribute.html
  main/how-to/release-and-deploy.html
  main/how-to/run-container.html
  main/index.html
  main/py-modindex.html
  main/reference.html
  main/reference/current_and_planned_features.html
  main/search.html
  main/tutorials.html
  main/tutorials/installation.html
Due: none

Add zoom levels config model
  src/daq_config_server/app/_file_converter_map.py
  src/daq_config_server/models/__init__.py
  src/daq_config_server/models/oav/__init__.py
  src/daq_config_server/models/oav/display_config_models.py
  src/daq_config_server/models/oav/per_zoom_level.py
  src/daq_config_server/models/oav/zoom_levels.py
  src/daq_config_server/models/utils.py
  tests/conftest.py
  tests/constants.py
  tests/system_tests/test_client.py
  tests/test_data/test_jCameraManZoomLevels.xml
  tests/unit_tests/app/test_client.py
  tests/unit_tests/models/test_display_config_models.py
  tests/unit_tests/models/test_utils.py
Due: ruff, ruff-format

deploy: c2849ac5bc39a4a2f0b21bd34d53f465cf532662
  main/.buildinfo
  main/_api.html
  main/_api/daq_config_server.html
  main/_modules/daq_config_server/app/client.html
  main/_modules/index.html
  main/_static/documentation_options.js
  main/explanations.html
  main/explanations/decisions.html
  main/explanations/decisions/0001-record-architecture-decisions.html
  main/explanations/decisions/0002-switched-to-python-copier-template.html
  main/explanations/whitelist_info.html
  main/genindex.html
  main/how-to.html
  main/how-to/config-server-guide.html
  main/how-to/contribute.html
  main/how-to/release-and-deploy.html
  main/how-to/run-container.html
  main/index.html
  main/py-modindex.html
  main/reference.html
  main/reference/current_and_planned_features.html
  main/search.html
  main/tutorials.html
  main/tutorials/installation.html
Due: none

Added file to file to converter map (#181)
  src/daq_config_server/app/_file_converter_map.py
Due: ruff, ruff-format

deploy: d57b5dca0f3f63591464f9187b24de35b7b3c3ac
  main/.buildinfo
  main/_api.html
  main/_api/daq_config_server.html
  main/_modules/daq_config_server/app/client.html
  main/_modules/index.html
  main/_static/documentation_options.js
  main/explanations.html
  main/explanations/decisions.html
  main/explanations/decisions/0001-record-architecture-decisions.html
  main/explanations/decisions/0002-switched-to-python-copier-template.html
  main/explanations/whitelist_info.html
  main/genindex.html
  main/how-to.html
  main/how-to/config-server-guide.html
  main/how-to/contribute.html
  main/how-to/release-and-deploy.html
  main/how-to/run-container.html
  main/index.html
  main/py-modindex.html
  main/reference.html
  main/reference/current_and_planned_features.html
  main/search.html
  main/tutorials.html
  main/tutorials/installation.html
Due: none

Add file to whitelist
  helm/daq-config-server/whitelist.yaml
Due: none

Remove redundant abstract WhitelistFetcher class
  src/daq_config_server/app/_whitelist.py
  tests/unit_tests/app/test_whitelist.py
  tests/unit_tests/conftest.py
Due: ruff, ruff-format

Add the i23 aithre oav file to the main whitelist
  whitelist.yaml
Due: none

File based whitelist (#177)
  Dockerfile
  docs/explanations/whitelist_info.md
  docs/how-to/config-server-guide.md
  helm/daq-config-server/whitelist.yaml
  pyproject.toml
  src/daq_config_server/app/_config.py
  src/daq_config_server/app/_whitelist.py
  src/daq_config_server/app/api.py
  tests/test_data/whitelist.yaml
  tests/unit_tests/app/test_api.py
  tests/unit_tests/app/test_whitelist.py
  tests/unit_tests/conftest.py
Due: ruff, ruff-format, uv-sync

deploy: 5bd32e05df570c01f9931da55767956405f6c3fa
  main/.buildinfo
  main/.doctrees/explanations/whitelist_info.doctree
  main/.doctrees/how-to/config-server-guide.doctree
  main/_api.html
  main/_api/daq_config_server.html
  main/_modules/daq_config_server/app/client.html
  main/_modules/index.html
  main/_sources/explanations/whitelist_info.md.txt
  main/_sources/how-to/config-server-guide.md.txt
  main/_static/documentation_options.js
  main/explanations.html
  main/explanations/decisions.html
  main/explanations/decisions/0001-record-architecture-decisions.html
  main/explanations/decisions/0002-switched-to-python-copier-template.html
  main/explanations/whitelist_info.html
  main/genindex.html
  main/how-to.html
  main/how-to/config-server-guide.html
  main/how-to/contribute.html
  main/how-to/release-and-deploy.html
  main/how-to/run-container.html
  main/index.html
  main/py-modindex.html
  main/reference.html
  main/reference/current_and_planned_features.html
  main/search.html
  main/searchindex.js
  main/tutorials.html
  main/tutorials/installation.html
Due: none

Abstract converter resolution into a function
  src/daq_config_server/app/_config.py
  src/daq_config_server/app/_file_converter_map.py
  src/daq_config_server/app/_routes.py
  tests/conftest.py
  tests/system_tests/test_client.py
Due: ruff, ruff-format

Make ruff happy
  src/daq_config_server/app/_config.py
Due: ruff, ruff-format

Actually set the converter when initialising
  src/daq_config_server/app/_file_converter_map.py
Due: ruff, ruff-format

Remove redundant function, extend test coverage
  src/daq_config_server/app/_file_converter_map.py
  tests/unit_tests/app/test_converter_map.py
Due: ruff, ruff-format

Initial implementation of file-based converter mapping
  src/daq_config_server/app/_file_converter_map.py
  src/daq_config_server/app/api.py
  tests/test_data/test_converter_map.yaml
  tests/test_data/test_good_beamline_pitch_lut.txt
  tests/test_data/test_good_beamline_roll_lut.txt
  tests/test_data/test_good_detector_xy_lut.txt
  tests/test_data/test_good_i09_hu_undulator_gap_lut.txt
  tests/unit_tests/app/test_api.py
  tests/unit_tests/app/test_converter_map.py
Due: ruff, ruff-format

Remove the hardcoded default converter map in favour of default configuration file
  Dockerfile
  helm/daq-config-server/converter_map.yaml
  helm/daq-config-server/templates/configmap.yaml
  helm/daq-config-server/templates/deployment.yaml
  helm/daq-config-server/values.yaml
  src/daq_config_server/app/_config.py
  src/daq_config_server/app/_file_converter_map.py
  tests/conftest.py
  tests/system_tests/test_client.py
  tests/unit_tests/app/test_converter_map.py
Due: ruff, ruff-format

Remove converter_map.yaml configmap configuration from the library helmchart
  helm/daq-config-server/templates/configmap.yaml
  helm/daq-config-server/values.yaml
Due: none

Update docs to describe new converter map configuration
  docs/how-to/config-server-guide.md
Due: none

Configurable converter map (#178)
  Dockerfile
  README.md
  deployment/build_and_push.sh
  docs/how-to/config-server-guide.md
  helm/daq-config-server/Chart.yaml
  helm/daq-config-server/converter_map.yaml
  helm/daq-config-server/templates/configmap.yaml
  helm/daq-config-server/templates/deployment.yaml
  src/daq_config_server/app/_config.py
  src/daq_config_server/app/_file_converter_map.py
  src/daq_config_server/app/_routes.py
  src/daq_config_server/app/api.py
  tests/conftest.py
  tests/system_tests/test_client.py
  tests/test_data/test_converter_map.yaml
  tests/test_data/test_good_beamline_pitch_lut.txt
  tests/test_data/test_good_beamline_roll_lut.txt
  tests/test_data/test_good_detector_xy_lut.txt
  tests/test_data/test_good_i09_hu_undulator_gap_lut.txt
  tests/unit_tests/app/test_api.py
  tests/unit_tests/app/test_converter_map.py
Due: ruff, ruff-format

deploy: 05e3870207b7e90761d26034bfbc498ccd9a35f8
  main/.buildinfo
  main/.doctrees/how-to/config-server-guide.doctree
  main/.doctrees/index.doctree
  main/_api.html
  main/_api/daq_config_server.html
  main/_modules/daq_config_server/app/client.html
  main/_modules/index.html
  main/_sources/how-to/config-server-guide.md.txt
  main/_static/documentation_options.js
  main/explanations.html
  main/explanations/decisions.html
  main/explanations/decisions/0001-record-architecture-decisions.html
  main/explanations/decisions/0002-switched-to-python-copier-template.html
  main/explanations/whitelist_info.html
  main/genindex.html
  main/how-to.html
  main/how-to/config-server-guide.html
  main/how-to/contribute.html
  main/how-to/release-and-deploy.html
  main/how-to/run-container.html
  main/index.html
  main/py-modindex.html
  main/reference.html
  main/reference/current_and_planned_features.html
  main/search.html
  main/searchindex.js
  main/tutorials.html
  main/tutorials/installation.html
Due: none

Replaced aithre_oav with i23
  helm/daq-config-server/converter_map.yaml
  helm/daq-config-server/whitelist.yaml
  whitelist.yaml
Due: none

Add xpdf crystal lookup table
  src/daq_config_server/models/i15_1/xpdf_crystal_lut.py
  tests/constants.py
  tests/test_data/i15-1/test_i15-1_xpdf_crystal_lut.txt
  tests/test_data/i15-1/test_xpdfLocalParameters.xml
  tests/test_data/test_converter_map.yaml
  tests/unit_tests/app/test_converter_map.py
  tests/unit_tests/models/i15_1/test_xpdf_crystal.py
  tests/unit_tests/models/i15_1/test_xpdf_parameters.py
Due: ruff, ruff-format

Add to whitelist and converter map
  helm/daq-config-server/converter_map.yaml
  helm/daq-config-server/whitelist.yaml
  src/daq_config_server/app/_file_converter_map.py
Due: ruff, ruff-format

Add comment to test lut
  tests/test_data/i15-1/test_i15-1_xpdf_crystal_lut.txt
Due: none

Replaced Aithre with new I23 from GDA (#182)
  helm/daq-config-server/converter_map.yaml
  helm/daq-config-server/whitelist.yaml
  whitelist.yaml
Due: none

deploy: 8101e0ba0f616e0dae4a77533e22ac2ddc8e3021
  main/.buildinfo
  main/_api.html
  main/_api/daq_config_server.html
  main/_modules/daq_config_server/app/client.html
  main/_modules/index.html
  main/_static/documentation_options.js
  main/explanations.html
  main/explanations/decisions.html
  main/explanations/decisions/0001-record-architecture-decisions.html
  main/explanations/decisions/0002-switched-to-python-copier-template.html
  main/explanations/whitelist_info.html
  main/genindex.html
  main/how-to.html
  main/how-to/config-server-guide.html
  main/how-to/contribute.html
  main/how-to/release-and-deploy.html
  main/how-to/run-container.html
  main/index.html
  main/py-modindex.html
  main/reference.html
  main/reference/current_and_planned_features.html
  main/search.html
  main/tutorials.html
  main/tutorials/installation.html
Due: none

Minor fixes
  src/daq_config_server/models/i15_1/__init__.py
  src/daq_config_server/models/i15_1/xpdf_crystal_lut.py
Due: ruff, ruff-format

Add comment on storing config inside a redis
  src/daq_config_server/models/i15_1/xpdf_crystal_lut.py
Due: ruff, ruff-format

Constrain starlette (required by fastapi) to >=1.1.0 to avoid CVE-2026-48710
  pyproject.toml
  uv.lock
Due: uv-sync

Constrain starlette to >=1.1.0 to avoid CVE-2026-48710 (#185)
  pyproject.toml
  uv.lock
Due: uv-sync

deploy: 897e7456bfa892fe7bb67c31756c8bc7cf147ec5
  main/.buildinfo
  main/_api.html
  main/_api/daq_config_server.html
  main/_modules/daq_config_server/app/client.html
  main/_modules/index.html
  main/_static/documentation_options.js
  main/explanations.html
  main/explanations/decisions.html
  main/explanations/decisions/0001-record-architecture-decisions.html
  main/explanations/decisions/0002-switched-to-python-copier-template.html
  main/explanations/whitelist_info.html
  main/genindex.html
  main/how-to.html
  main/how-to/config-server-guide.html
  main/how-to/contribute.html
  main/how-to/release-and-deploy.html
  main/how-to/run-container.html
  main/index.html
  main/py-modindex.html
  main/reference.html
  main/reference/current_and_planned_features.html
  main/search.html
  main/tutorials.html
  main/tutorials/installation.html
Due: none

Add the path to i19-shared config files for the optics to whitelist
  helm/daq-config-server/whitelist.yaml
Due: none

Add i15-1 crystal lut (#183)
  helm/daq-config-server/converter_map.yaml
  helm/daq-config-server/whitelist.yaml
  src/daq_config_server/app/_file_converter_map.py
  src/daq_config_server/models/i15_1/__init__.py
  src/daq_config_server/models/i15_1/xpdf_crystal_lut.py
  tests/constants.py
  tests/test_data/i15-1/test_i15-1_xpdf_crystal_lut.txt
  tests/test_data/i15-1/test_xpdfLocalParameters.xml
  tests/test_data/test_converter_map.yaml
  tests/unit_tests/app/test_converter_map.py
  tests/unit_tests/models/i15_1/test_xpdf_crystal.py
  tests/unit_tests/models/i15_1/test_xpdf_parameters.py
Due: ruff, ruff-format

deploy: 3513e044b4032112df47afaa97a9d6dc83fb47df
  main/.buildinfo
  main/_api.html
  main/_api/daq_config_server.html
  main/_modules/daq_config_server/app/client.html
  main/_modules/index.html
  main/_static/documentation_options.js
  main/explanations.html
  main/explanations/decisions.html
  main/explanations/decisions/0001-record-architecture-decisions.html
  main/explanations/decisions/0002-switched-to-python-copier-template.html
  main/explanations/whitelist_info.html
  main/genindex.html
  main/how-to.html
  main/how-to/config-server-guide.html
  main/how-to/contribute.html
  main/how-to/release-and-deploy.html
  main/how-to/run-container.html
  main/index.html
  main/py-modindex.html
  main/reference.html
  main/reference/current_and_planned_features.html
  main/search.html
  main/tutorials.html
  main/tutorials/installation.html
Due: none

Add the path to i19-shared config files for the optics to whitelist (#186)
  helm/daq-config-server/whitelist.yaml
Due: none
